
  body {
    background-color: #e6dede;
  }
  .loader {
    /* display: none; */
    width: 40px;
    height: 40px;
    position: relative;
    left: 3%;
  }
  
  .loader:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 10px solid #333;
    border-top-color: #fff;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  